{% extends "layout.html" %} 

{% block css %}
{% endblock %} 

{% block title %}
<title>Home</title>
{% endblock %} 

{% block form %}
<h1 class="h2 mb-0 ls-tight">検索してね</h1>

<form action="/" method="GET">
    <div class="form-group">
        <label class="form-label" for="formGroupExampleInput">検索ワード一覧</label>
        <input type="text" maxlength="30" class="form-control" id="formGroupExampleInput" name="search_word" placeholder="4630万円の誤送金は返還すべき？" required>
    </div>
    <div>
        <button class="btn btn-primary mb-2" type="submit">送信</button>
    </div>
</form>
{% endblock %} 



{% block content %}

{% if trend_list %}
<div class="pb-5">
    <h2>直近のニューストレンド</h2>
    <ul type="disc">

    {% for trend in trend_list %}
        <li>
            <a href="/?search_word={{trend[0]}}">{{trend[0]}}</a>
        </li>
    {% endfor %} 
    </ul> 
</div>
{% endif %}

{% if positive_ratio %} 
<div class="pb-5">
    <h2>この検索ワードの肯定派率</h2>
    <div class="progress progress-lg">
        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ positive_ratio }};" aria-valuenow="{{ positive_ratio }}" aria-valuemin="0" aria-valuemax="100">{{ positive_ratio }}</div>
    </div>
</div>
<br>
{% endif %}

{% if list_response %} 
<div class="row gy-5">
    <h2>直近の肯定的な意見</h2>
    {% for tweet in list_response %}
    {% if tweet[2] == "positive" %}
        <div class="col-6 col-sm-4">
            <div class="card">
                <div class="card-body">
                    <p class="">{{ tweet[1] }}</p>
                    <span class="badge bg-soft-success text-success">リツイート数: {{ tweet[6] }}件</span>
                    <span class="badge rounded-pill bg-soft-warning text-warning">{{ tweet[3] }}</span>
                    <span class="badge rounded-pill bg-soft-primary text-primary">感情: {{ tweet[4] }}</span>
                </div>
            </div>
        </div>
    {% endif %}
    {% else %}
    {% endfor %} 

    <h2> 直近の否定的な意見</h2>
    {% for tweet in list_response %}
    {% if tweet[2] == "negative" %}
        <div class="col-6 col-sm-4">
            <div class="card">
                <div class="card-body">
                    <p class="">{{ tweet[1] }}</p>
                    <span class="badge bg-soft-success text-success">リツイート数: {{ tweet[6] }}件</span>
                    <span class="badge rounded-pill bg-soft-warning text-warning">{{ tweet[3] }}</span>
                    <span class="badge rounded-pill bg-soft-primary text-primary">感情: {{ tweet[4] }}</span>
                </div>
            </div>
        </div>
    {% endif %}
    {% else %}
    {% endfor %} 
</div>
{% endif %}

{% endblock content %} 
