{% extends "layout.html" %} 

{% block css %}
{% endblock %} 

{% block title %}
<title>Rate Limit</title>
{% endblock %} 




{% block content %}
<div class=" pt-24 pb-24 py-24">
    <div class="container max-w-screen-xl">
        <!-- Section title -->
        <div class="row justify-content-center text-md-center mb-24">
            <div class="col-lg-7">
                <!-- Surtitle -->
                <h5 class="h5 mb-5 text-uppercase text-primary">
                    We're Sorry / Error code 429
                </h5>
                <!-- Heading -->
                <h1 class="ls-tight font-bolder mb-5">
                    TwitterのAPI制限によりアクセスできません
                </h1>
                <!-- Text -->
                <p class="lead">
                    15分ほど経ってからまたお試しください
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %} 
